*{
    margin: 0;
    border: 0;
}
body{
    background: rgb(157, 245, 252);
}
/* 导航栏 */
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 10px 20%;
    background: rgb(250, 226, 235);
}
.nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(251, 27, 142);
    margin-left: 20px;
}
.logo p{
    font-family: "宋体";
    font-size: 36px;
    font-weight: 600;
    color: rgb(251, 27, 142);
}
.banner{
    width: 1000px;
    height: 560px;
    margin: auto;
    background: #f2f2f2;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 标题 */
.title{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 0;
    background:#f2f2f2;
}
.title h2{
    font-size: 35px;
    color: rgb(251, 27, 142);
    margin: 0 20px;
    letter-spacing: 5px;
}
.title .line{
    width: 80px;
    height: 2px;
    background: rgb(251, 27, 142);
}
/* 关于阳江 */
.jieshao{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
    background: #f2f2f2;
}
.jieshao-img_01{
    width: 25%;
    margin-right: 40px;
}
.jieshao-img_01 img{
    width: 100%;
    border-radius: 8px;
}
.jieshao-text{
    width: 60%;
}
.jieshao-text p{
    color: #666;
    line-height: 2.1;
    text-indent: 2em;
}
.jieshao_01{
    padding: 0 40px;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    background: #f2f2f2;
}
.jieshao_01 p{
    color: #666;
    line-height: 2.1;
    text-indent: 2em;
}
.jieshao_02 ul{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    width: 1000px;
    margin:  auto;
    box-sizing:border-box;
    background: #f2f2f2;
}
.jieshao_02 ul li{
    list-style: none;
    width: 45%;
}
.jieshao_02 ul li img{
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.jieshao_02 ul li h1{
    padding: 10px 0 0 10px;
    background: #fff;
    font-size: 25px;
    color: rgb(251, 27, 142);
}
.jieshao_02 ul li p{
    background: #fff;
    color: #666;
    line-height: 1.6;
    text-indent: 2em;
    padding:10px;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
}
/* 页脚 */
.footer{
    color: #333;
    text-align: center;
    background: rgb(250, 226, 235);
    padding: 10px 0;
}
/* 美食页面 */
.food{
    width: 960px;
    margin: auto;
    background: #f2f2f2;
}
.food li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 30px 0;
}
.food-img{
    width: 40%;
    height: 220px;
}
.food-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.food-jieshao{
    width: 50%;
    padding-right: 30px;
}.food-jieshao p{
    line-height: 1.8;
    text-indent: 2em;
    padding-top: 20px;
}
/* 风景页面 */


/* 留言页面 */
.liuyan{
    background: #f2f2f2;
    width: 1000px;
    margin: auto;
}
.liuyan input{
    outline: none;
    display: block;
    width: 300px;
    height: 35px;
    margin-left: 250px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.liuyan textarea{
    padding: 10px;
    outline: none;
    width: 400px;
    margin-left: 250px;    
}
.liuyan button{
    display: block;
    border: none;
    width: 150px;
    height: 35px;
    background: rgb(251, 27, 142);
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 400px;
}
.liuyan p{
    margin-left: 250px;
    padding-bottom: 10px;
}